        <li id="settings_group_menuitem" class="dropdown" role="menuitem">

          <!-- Best to have dropdown-toggle behave like ARIA menubuton -->
          <!-- defined at http://www.w3.org/TR/wai-aria-practices/#menubutton -->
          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" 
                  data-ng-class="[settings.btnDensity, 
                                  settings.navbarBtnDensity, 
                                  settings.marginFixDensity]" 
                  data-toggle="dropdown" data-target=".settings-menu" 
                  role="button" aria-haspopup="true" aria-expanded="false">
                  <!-- Use data-target=".settings-menu" for better behavior -->
                  <!-- href="#" -->
                  <!-- data-ng-click="isCollapsed = !isCollapsed" -->
            <span class="fa fa-cog"></span>
            <span id="settings_button" class="sr-only">&nbsp;&nbsp;Settings</span>
            <span class="fa fa-caret-down"></span>
          </button>

          <!-- Best to have dropdown-menu behave like ARIA menu -->
          <!-- defined at http://www.w3.org/TR/wai-aria-practices/#menu -->
          <ul class="dropdown-menu settings-menu" 
              data-ng-class="settings.dropdownMenuDensity" 
              role="menu" aria-labelledby="settings_button" 
              aria-expanded="false" aria-activedescendant="settings_menuitem">

            <li data-ng-click="showSettings()" ng-keyup="$event.keyCode == 32 ? showSettings() : null"
                role="menuitem" tabindex="-1">
              <a id="settings_menuitem" ui-sref="settings" 
                 role="link">&nbsp;&nbsp;Settings</a>
            </li>

            <li class="divider" role="separator" aria-orientation="verticle"></li>

            <li class="dropdown-header" data-ng-class="settings.dropdownHeaderDensity"
                role="separator" aria-orientation="verticle">Display Density</li>

            <li data-ng-click="settings.displayDensity='comfortable'" 
                tabindex="-1" role="menuitem">
              <a data-ng-model="settings.displayDensity" role="link">
              <span class="fa fa-check fa-fw" 
                    data-ng-class="{invisible: settings.displayDensity != 'comfortable'}">
              </span>&nbsp;&nbsp;Comfortable</a>
            </li>

            <li data-ng-click="settings.displayDensity='cozy'" 
                tabindex="-1" role="menuitem">
              <a data-ng-model="settings.displayDensity" role="link">
              <span class="fa fa-check fa-fw" 
                    data-ng-class="{invisible: settings.displayDensity != 'cozy'}">
              </span>&nbsp;&nbsp;Cozy</a>
            </li>

            <li data-ng-click="settings.displayDensity='compact'" 
                tabindex="-1" role="menuitem">
              <a data-ng-model="settings.displayDensity" role="link">
              <span class="fa fa-check fa-fw" 
                    data-ng-class="{invisible: settings.displayDensity != 'compact'}">
              </span>&nbsp;&nbsp;Compact</a>
            </li>

            <li class="divider" role="separator" aria-orientation="verticle"></li>

            <li data-ng-click="showThemes()" tabindex="-1" 
                role="menuitem">
              <a id="themes_menuitem" ui-sref="themes" 
                 role="link">&nbsp;&nbsp;Themes</a>
            </li>

          </ul>

        </li>





          <div class="btn-group">
          <!-- Best to have dropdown-toggle behave like ARIA menubuton -->
          <!-- defined at http://www.w3.org/TR/wai-aria-practices/#menubutton -->
          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" 
                  data-ng-class="[settings.btnDensity, 
                                  settings.navbarBtnDensity, 
                                  settings.marginFixDensity]" 
                  data-toggle="dropdown" data-target=".settings-menu" 
                  role="button" aria-haspopup="true" aria-expanded="false">
                  <!-- Use data-target=".settings-menu" for better behavior -->
                  <!-- href="#" -->
                  <!-- data-ng-click="isCollapsed = !isCollapsed" -->
            <span class="fa fa-cog"></span>
            <span id="settings_menu" class="sr-only">&nbsp;&nbsp;Settings</span>
            <span class="fa fa-caret-down"></span>
          </button>





            <li class="divider" role="separator" aria-orientation="verticle"></li>



          <a class="dropdown-toggle" data-toggle="dropdown" role="menu">
            <span class="fa fa-cog fa-fw"></span>
            <span class="sr-only">&nbsp;&nbsp;Settings</span>
            <span class="fa fa-caret-down fa-fw"></span>
          </a>

            <li class="dropdown-header" ng-init="settings.displayDensity='cozy'" role="presentation">Display Density</li>



          <ul class="dropdown-menu" data-ng-controller="SettingsController">
  <script src="settings/settings.js"></script>


      <ul class="nav navbar-nav compact" role="menu">
      <ul class="nav navbar-nav navbar-right compact" role="menu">

      <ul class="nav navbar-nav" ng-class="settings.displayDensity" role="menu">
      <ul class="nav navbar-nav navbar-right" ng-class="settings.displayDensity" role="menu">


  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/css3-mediaqueries-js/css3-mediaqueries.js"></script>
  <![endif]-->


  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/css3-mediaqueries-js/css3-mediaqueries.js"></script>
  <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  <script src="bower_components/respond/src/respond.js"></script>
  <script src="bower_components/console-polyfill/index.js"></script>
  <![endif]-->


  <script src="bower_components/css3-mediaqueries-js/css3-mediaqueries.js"></script>

  <script src="bower_components\html5shiv\dist\html5shiv.js"></script>

  <script src="bower_components/webshim/js-webshim/dev/polyfiller.js"></script>
  <!-- Support older browsers -->
  <script>
    webshim.setOptions('basePath', '/bower_components/webshim/js-webshim/dev/shims/');
    webshims.polyfill();
  </script>



  <!--[if lt IE 9]>
  <script src="bower_components/console-polyfill/index.js"></script>
  <script src="scripts/eventShim.js"></script>
  <![endif]-->



  <script src="bower_components/moment/moment.js"></script>



  <!-- CSS style sheets for app -->
  <link href="app.less" type="text/css" rel="stylesheet/less">

  <!-- Modernizr will include HTML5shiv as necessary -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- Support oldie IE8 on XP -->
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/console-polyfill/index.js"></script>
  <script src="scripts/eventShim.js"></script>
  <![endif]-->
</head>



  <!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
  <p> Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <![endif]-->

  <!--[if lte IE 8]>
  <script>
  window.myCustomTags = [ 'yourCustomDirective', 'somebodyElsesDirective' ];
  </script>
  <script src="build/angular-ui-ieshiv.js"></script>
  <![endif]-->



  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>



  <!-- Include the HTML5 shiv in the <head> of your page -->
  <!-- in a conditional comment and after any stylesheets. -->
  <!--[if lt IE 9]>
  <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->




  <!-- Meta and link tags below for mobile from Google's Web Fundamentals articles -->
  <!-- https://developers.google.com/web/fundamentals/device-access/stickyness/ -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Swks Mobile App">
  <meta name="apple-mobile-web-app-title" content="Swks Mobile App">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Provide full size icons, so the favicon and screenshots not used -->
  <!-- icon in the highest resolution we will need -->
  <link rel="icon" sizes="228x228" href="img/Swks-Icon-1DS-228.png">
  <!-- reuse same icon for Safari -->
  <link rel="apple-touch-icon" href="img/Swks-Icon-1DS-228.png">
  <!-- multiple icons for IE -->
  <meta name="msapplication-square70x70logo" content="img/Swks-Icon-1DS-70.png">
  <meta name="msapplication-square150x150logo" content="img/Swks-Icon-1DS-150.png">
  <meta name="msapplication-square310x310logo" content="img/Swks-Icon-1DS-310.png">
  <!-- Tile type icon for IE10 on Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="img/Swks-Icon-1DS-144.png">
  <meta name="msapplication-TileColor" content="#E1B674">

  <!-- MS specific -->
  <!-- Tooltip (Desktop) -->
  <meta name="msapplication-tooltip" content="Start the Swks app">
  <!-- Start url when pinned (Desktop) -->
  <meta name="msapplication-starturl" content="./">
  <!-- Color of navigation buttons (back/forward) (Desktop) -->
  <meta name="msapplication-navbutton-color" content="#FF3300" />

  <!-- Safari specific -->
  <!-- Specify startup image via apple-touch-startup-image tag -->
  <!-- Images have to be specific size of device screen or won’t be used. -->
  <!-- iOS 6 & 7 iPad (retina, portrait) -->
  <link href="img/Swks-TextIcon-1DS-2008.png"
    media="(device-width: 768px) and (device-height: 1024px)
      and (orientation: portrait)
      and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">
  <!-- iOS 6 & 7 iPad (retina, landscape) -->
  <link href="img/Swks-TextIcon-1DS-2048.png"
    media="(device-width: 768px) and (device-height: 1024px)
      and (orientation: landscape)
      and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">
  <!-- iOS 6 iPad (portrait) -->
  <link href="img/Swks-TextIcon-1DS-1004.png"
    media="(device-width: 768px) and (device-height: 1024px)
      and (orientation: portrait)
      and (-webkit-device-pixel-ratio: 1)"
    rel="apple-touch-startup-image">
  <!-- iOS 6 iPad (landscape) -->
  <link href="img/Swks-TextIcon-1DS-1024.png"
    media="(device-width: 768px) and (device-height: 1024px)
      and (orientation: landscape)
      and (-webkit-device-pixel-ratio: 1)"
    rel="apple-touch-startup-image">
  <!-- iOS 6 & 7 iPhone 5 -->
  <link href="img/Swks-TextIcon-1DS-1096.png"
    media="(device-width: 320px) and (device-height: 568px)
      and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">
  <!-- iOS 6 & 7 iPhone (retina) -->
  <link href="img/Swks-TextIcon-1DS-920.png"
    media="(device-width: 320px) and (device-height: 480px)
      and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">
  <!-- iOS 6 iPhone -->
  <link href="img/Swks-TextIcon-1DS-460.png"
    media="(device-width: 320px) and (device-height: 480px)
      and (-webkit-device-pixel-ratio: 1)"
    rel="apple-touch-startup-image">




  /* Complete JsLite jQuery source */
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/js/collapse.js"></script>
  <script src="bower_components/bootstrap/js/affix.js"></script>
  <script src="bower_components/bootstrap/js/alert.js"></script>
  <script src="bower_components/bootstrap/js/button.js"></script>
  <script src="bower_components/bootstrap/js/carousel.js"></script>
  <script src="bower_components/bootstrap/js/collapse.js"></script>
  <script src="bower_components/bootstrap/js/dropdown.js"></script>
  <script src="bower_components/bootstrap/js/tab.js"></script>
  <script src="bower_components/bootstrap/js/transition.js"></script>
  <script src="bower_components/bootstrap/js/scrollspy.js"></script>
  <script src="bower_components/bootstrap/js/modal.js"></script>
  <script src="bower_components/bootstrap/js/tooltip.js"></script>
  <script src="bower_components/bootstrap/js/popover.js"></script>


    <div class="navbar-collapse collapse" collapse="isCollapsed">

      <form class="navbar-form">
        <div class="input-group">
          <div class="input-group-btn">

            <a ui-sref="home" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
            <a ui-sref="about" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;About</a>
            <a ui-sref="contact" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Contact</a>

            <div class="nav navbar-nav navbar-right">

              <a ui-sref="userLogin" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login</a>

              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" role="button">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="sr-only">&nbsp;&nbsp;Settings</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="displayDensity">
                  <li class="dropdown-header" role="presentation">Display Density</li>
                  <li role="presentation"><a ui-sref="settings" tabindex="-1" role="menuitem">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Comfortable</a></li>
                  <li role="presentation"><a ui-sref="settings" tabindex="-1" role="menuitem">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Cozy</a></li>
                  <li role="presentation"><a ui-sref="settings" tabindex="-1" role="menuitem">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Compact</a></li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </form>


              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" role="button">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="sr-only">&nbsp;&nbsp;Settings</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="displayDensity">
                  <li class="dropdown-header" role="presentation">Display Density</li>
                  <div class="input-group-btn">
                    <li><span class="input-group-addon"><a ui-sref="settings">
                      <input type="radio">&nbsp;&nbsp;Comfortable</span></a></li>
                    <li><span class="input-group-addon"><a ui-sref="settings">
                      <input type="radio">&nbsp;&nbsp;Cozy</span></li></a>
                    <li><span class="input-group-addon"><a ui-sref="settings">
                      <input type="radio">&nbsp;&nbsp;Compact</span></li></a>
                  </div>
                </ul>
              </div>



                  <div class="input-group">
                  </div>
                  input-group-btn btn-group 


            <div class="navbar-right">
              <a ui-sref="userLogin" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login</a>
              <a ui-sref="settings" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-cog">
                  <span class="sr-only">&nbsp;&nbsp;Settings</span>
                  <span class="caret"></span></a>
            </div>

      <form class="navbar-form">
        <div class="input-group">
          <div class="input-group-btn">

            <a ui-sref="home" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
            <a ui-sref="about" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;About</a>
            <a ui-sref="contact" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Contact</a>

            <div class="navbar-right">
              <a ui-sref="userLogin" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login</a>
              <a ui-sref="settings" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-cog">
                  <span class="sr-only">&nbsp;&nbsp;Settings</span>
                  <span class="caret"></span></a>
            </div>

          </div>
        </div>
      </form>
  </div>
  </nav>

            <div class="nav dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" role="button">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="sr-only">&nbsp;&nbsp;Settings</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="displayDensity">
                <li class="dropdown-header" role="presentation">Display Density</li>
                <div class="input-group-btn">
                  <span class="input-group-addon"><input type="radio"></span>
                  <span class="input-group-addon"><input type="radio"></span>
                  <span class="input-group-addon"><input type="radio"></span>
                </div>
              </ul>
            </div>


    # Using sr-only should allow screen readers to see Settings label
        <li class="navbar-right"><a ui-sref="userLogin" class="sr-only"><span class="glyphicon glyphicon-user"></span>Login</a></li>

        <li class="navbar-right"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a></li>
        <li class="navbar-right"><a ui-sref="userLogin"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login</a></li>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <form class="navbar-form">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <div class="input-group-btn">
                        <a ui-sref="settings" class="btn btn-default" role="button"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a>
                        <a ui-sref="userLogin" class="btn btn-default" role="button"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;All</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>




  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Swks</a>
    </div>
    <div class="navbar-collapse collapse" collapse="isCollapsed">
      <ul class="nav nav-pills">
        <li class="active"><a ui-sref="home">Home</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="contact">Contact</a></li>
        <li class="navbar-right"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a></li>
        <li class="navbar-right"><a ui-sref="userLogin"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login</a></li>
      </ul>
    </div>
  </div>
  </nav>







    <div class="navbar-collapse collapse" collapse="isCollapsed">
      <ul class="nav nav-pills">
        <li class="active"><a ui-sref="home">Home</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="contact">Contact</a></li>
      </ul>
      <ul class="nav nav-pills navbar-right">
        <li><a ui-sref="userLogin"><span class="glyphicon glyphicon-user"></span>Login</a></li>
        <li><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
      </ul>
    </div>



      <ul class="nav navbar-nav">
      <ul class="nav navbar-nav navbar-right">

      <ul class="nav nav-tabs" role="tablist">
      <ul class="nav nav-tabs navbar-right" role="tablist">

